=form_for(@scan_task, {:url=>scan_songs_path, :html=>{method: :get}}) do |f|
  =f.error_messages
  =f.label 'host'
  =f.text_field 'host', :placeholder=>"DRB client host"
  =f.label 'folder'
  =f.text_field 'folder', :placeholder=>"Full path of folder to be scanned"
  =f.label 'recursive', 'Scan subfolders'
  =f.check_box 'recursive'
  =f.submit 'Scan'
-if @results
  %p=@results.inspect.to_s
%br
%table
  %tr
    %th Title
    %th Artist
    %th Album
    %th Genre
    %th &nbsp;

  -@songs.each do |song|
    %tr
      %td=song.title
      %td=song.artist
      %td=song.album
      %td=song.genre
      %td
        =link_to 'song.name', song_path(song, :format=>:mp3), {:class=>'media'}
        | 
        =link_to 'Edit', edit_song_path(song)

