=form_for(@scan_task, {:url=>load_tags_songs_path, :html=>{method: :get}}) do |f|
  =f.error_messages
  =f.label 'folder'
  =f.text_field 'folder', :placeholder=>"Full path of folder to be scanned"
  =f.label 'recursive', 'Scan subfolders'
  =f.check_box 'recursive'
  =f.submit 'Scan'